shared-executor-config: &shared-executor-config
  executor:
    image: "473376902650.dkr.ecr.us-east-1.amazonaws.com/seiji-orchestrator"
    tag: "latest-helmsman-py3.10"

deployable_packages:
  {{ coordinate }}:
    <<: *shared-executor-config
    descriptors:
      config: "deploy/luna-config-spec.yaml"
      dependencies: "deploy/luna-dependencies.yaml"
    hooks:
      create: "deploy/create.sh"
      destroy: "deploy/destroy.sh"
      migrate: "deploy/migrations"
    files:
      include:
        - "deploy/*"
        - "local-charts/**/*"
        - "values/*"
        - "desired-state*.yaml"
